.addNote {
    position: relative;
    border-bottom: 1px solid #ededed;
    &__textarea{
        font-family: 'Indie Flower', cursive;
        padding: 0;
        padding-top: 10px;
        padding-left: 60px;
        border: none;
        background: #b4b4fa;
        width: 100%;
        box-sizing: border-box;
        font-size: 28px;
        font-style: italic;
        box-shadow: inset 0 -2px 40px rgba(0,0,0,0.03);
        resize: none;
    }
    &__btn{
        display: none;
    }
} 
.fullView{
    padding: 10px 16px 120px 60px;
}  
  .todo-textarea::-webkit-input-placeholder {
    font-family: 'Indie Flower', cursive;
  }
  .todo-textarea::-moz-placeholder {
    font-family: 'Indie Flower', cursive;
  }
  .todo-textarea:-moz-placeholder {
    font-family: 'Indie Flower', cursive;
  }
  .todo-textarea:-ms-input-placeholder {
    font-family: 'Indie Flower', cursive;
  }

  .fa-plus {
    position: absolute;
    font-size: 24px;
    top: 30px;
    transform: translateY(-50%);
    left: 20px;
  }