.info{
    padding: 0px 20px 20px 20px;
    &__headline{
        text-align: center;
        font-size: 28px;
    }
    &__tagsList{
        margin: 0;
        padding: 0;
        list-style: none;   
        display: flex;
        flex-wrap: wrap;
    }
    &__tag{
        margin-right: 20px;
        margin-top: 15px;
        padding: 5px 10px;
        background: #978989a1;
        border-radius: 15px;
        cursor: pointer;
    }
    &__icon-del{
        margin-left: 10px;
        cursor: pointer;
    }
    &__icon-edit{
        margin-right: 10px;
        cursor: pointer;
    }
    &__tag-input{
        background:transparent;
        border: none; 
        outline: none;
        font-size: 16px
    }   
}

.category{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 10px;
    border: 1px solid black;
    margin-right: 20px;
    &__item{
        margin-top: 20px;
        display: flex;
        flex-wrap: nowrap;
    }
    &__wrap{
       display: inline-block;
    }
    &__child{
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &-wrap{
            display: flex;
        }
    }
    &_child{
        margin: 0 20px;
        position: relative;
        margin-bottom: 10px;
        &:before{
            content: '=>';
            color: black;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translate(-30px, -10px)
        }
    }
}