.notesList{
    margin: 0;
    padding: 0;
    list-style: none;
    &__item{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        font-size: 24px;
        background: orange;
        min-height: 120px;
        padding: 10px 30px 10px 30px;
        justify-content: space-between;     
    }
    &__text{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        word-wrap: break-word;
    }
    &__tools{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 10px;
        &-list{
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
    &__icon{
        margin-left: 50px;
        cursor: pointer;
    }
    &__icons{
        display: flex;
        align-items: center;
    }
    &__tag{
        font-size: 12px;
        margin-right: 5px;
        margin-top: 10px;
        padding: 5px 15px;
        background: #baa4a4;
        border-radius: 15px;
        cursor: pointer;
        &:last-child{
            margin-right: 0;
        }
        & span{
            margin-left: 10px;
        }
    }
    &__data{
        text-align: right;
        margin-top: 20px;
        font-size: 12px;
        &-item{
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}





