.noteInfo {
    position: relative;
    width: 60%;
    &-wrap{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
    &__textarea{
        position: relative;
        padding: 20px 40px;
        border: none;
        background: #b4b4fa;
        width: 100%;
        height: 300px;
        box-sizing: border-box;
        font-size: 28px;
        box-shadow: inset 0 -2px 40px rgba(0,0,0,0.03);
        resize: none;
        outline: none;
    }
    &__info-block{
        margin: 0;
        list-style: none;
        padding: 0;
        padding-top: 10px;
        background: #e0d8d8;
        display: flex;
        align-items: flex-end;   
    }
    &__btn{
        display: none;
    }
    &__select{
        background: #978989;
        width: 420px;
        height: 50px;
        border:none;
        position: absolute;
        bottom: -2.3%;
        left: 0;
        outline: none;
        padding-left: 30px;
        font-size: 20px;
        z-index: 11;
    }
    &__tag{
        width: 110px;
        height: 30px;
        background: #baa4a4;
        border-radius: 15px;
        font-size: 20px;
        & span{
            margin-left: 10px;
        }
        &-wrap{
            cursor: pointer;
            position: relative;    
            margin: 0 20px;
        }
        &-icon{
            font-size: 20px;
            top: 45%;
            left: 15%;
            & span{
                margin-left: 10px;
            }
        }
    }
    &__color{
        width: 110px;
        height: 30px;
        background: yellow;
        font-size: 20px;
        &-wrap{
            cursor: pointer;
            position: relative;
            margin-right: 20px;
        }
        &-icon{
            font-size: 20px;
            top: 45%;
            left: 15%;
            & span{
                margin-left: 10px;
            }
        }
    }
    &__category{
        width: 115px;
        height: 30px;
        border: 1px solid black;
        &-wrap{
            cursor: pointer;
            position: relative;
        }
        &-icon{
            font-size: 20px;
            top: 50%;
            left: 7%;
            & span{
                margin-left: 10px;
            }
        }
        &-item{
            font-size: 12px;
            margin-top: 10px;
            cursor: pointer;
        }
    }
    &__choosed-tag{
        background: #baa4a4;
        padding: 5px 20px;
        border-radius: 15px;
        font-size: 12px;
        margin-right: 10px;
        margin-top: 10px;
        & span {
            margin-left: 10px;
        }
    }
    &__form-tag{
        position: absolute;
        bottom: -4%;  
    }
    &__input-tag{
        height: 50px;
        left:40%;
        font-size: 20px;
        width: 450px;
        outline: none;
        font-size: 20px;
        padding-left: 30px; 
    }
    &__icon-del{
        position: absolute;
        z-index: 15;
        cursor: pointer;
    }
    &__characteristics{
        background: #e0d8d8;
        width: 60%;
    }
    &__tags-container{
        margin: 0;
        padding: 20px;
        list-style: none;   
        display: flex;
        flex-wrap: wrap;

    }
    &__category-container{
        margin: 0;
        padding: 0 20px 20px 20px;
        list-style: none;   
        display: flex;
        flex-wrap: wrap;
    }
} 


@media (max-width: 768px) {
    .noteInfo {
        &__info-block{
            padding-left: 20px;
            flex-direction: column;
            align-items: flex-start;
        }
        &__tag{
            &-wrap{
                margin-left: 0;
                margin-bottom: 10px;
            }
        }
        &__color{
            &-wrap{
                margin-bottom: 10px;
            }
        }
    }
}

@media (max-width: 576px) {
    .noteInfo {
        width: 80%;
        &__characteristics{
            width: 80%;
        }
    }
}
