.notesContainer{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
    &__info{
        width: 30%;
        background: yellow;
        height: 100vh;
    }
    &__notes{
        width: 65%;
    }
    &__tags-filter{
        margin-top: 30px;
    }
    &__tag{
        padding: 5px 15px;
        background: #978989a1;
        border-radius: 15px;
    }
}